################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/bin/Debug/CashRegister.vshost.exe
*.suo
/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/CashRegister.pdb
/obj/Debug/CashRegister.exe
/obj/Debug/CashRegister.csprojResolveAssemblyReference.cache
/obj/Debug/CashRegister.csproj.FileListAbsolute.txt
/CashRegisterTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/CashRegisterTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CashRegisterTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CashRegisterTests/obj/Debug/CashRegisterTests.pdb
/CashRegisterTests/obj/Debug/CashRegisterTests.dll
/CashRegisterTests/obj/Debug/CashRegisterTests.csprojResolveAssemblyReference.cache
/CashRegisterTests/obj/Debug/CashRegisterTests.csproj.FileListAbsolute.txt
/CashRegisterTests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/CashRegisterTests/bin/Debug/CashRegisterTests.pdb
/CashRegisterTests/bin/Debug/CashRegisterTests.dll
/CashRegisterTests/bin/Debug/CashRegister.pdb
/CashRegisterTests/bin/Debug/CashRegister.exe
/CashRegister.csproj.user
/bin/Debug/CashRegister.vshost.exe.manifest
/bin/Debug/CashRegister.vshost.exe.config
/bin/Debug/CashRegister.pdb
/bin/Debug/CashRegister.exe.config
/bin/Debug/CashRegister.exe
