@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Contact</h3>
    </header>
    <table>
        <tr>
            <td><span class="label">Phone:</span></td>
            <td><span>814.460.1449</span></td>
        </tr>
        <tr>
            <td><span class="label">Email:</span></td>
            <td><span><a href="mailto:jchadman@gmail.com">jchadman@gmail.com</a></span></td>
        </tr>
        <tr>
            <td><span class="label">Address:</span></td>
            <td><span>
    590 Bruton Dr. <br />
    Gibsonia, PA 15044
</span></td>
        </tr>
    </table>
    <p>
</section>

