<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.51.0" targetFramework="net461" />
  <package id="AutoFixture.AutoFakeItEasy" version="3.51.0" targetFramework="net461" />
  <package id="Castle.Core" version="2.5.2" targetFramework="net461" />
  <package id="FakeItEasy" version="4.3.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net461" />
</packages>